<app-nav-bar></app-nav-bar>
<div id="page-wrapper">
    <div class="contact-clean">
        <form method="post">
            <h2 class="text-center">Update card</h2>
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="inputName">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="9" name="history" placeholder="History" [(ngModel)]="inputHistory"></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="tags" placeholder="Tags" [(ngModel)]="inputTags">
                <p class="text-info">In the case that you wish to put more than one, put them like Tag1, Tag2, Tag3...</p>
            </div>
            <input type="file" (change)="onFileSelected($event)">
            <div id="preview" class="preview" *ngIf="sawImage">
                <br>
                <img [src] = "url">
            </div>
            <br>
            <div *ngIf="errorNoImageSelected" class="alert alert-danger">
                Select an image first before trying to update the card!
            </div>
            <div *ngIf="errorNoInfo" class="alert alert-danger">
                Incomplete name or history field, please enter the corresponding information.
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" (click)="updateCard()" value="Update File"> Update </button>
            </div>
            <div *ngIf="cardUploaded" class="alert alert-success">
                The card has been updated!
            </div>
        </form>
    </div>
</div>





