<app-nav-bar></app-nav-bar>
<div id="page-wrapper">
        <div class="contact-clean">
                <br>
                <h2 class="text-center">Crear una nueva colección</h2>
                <div class="panel-body">
                        <div class="form-group">
                                <input class="form-control" type="text" name="name" placeholder="Nombre" [(ngModel)]="inputName">
                        </div>
                        <label>Modo de juego: </label>
                        <select class="form-control-sm" (change)="setGamemode($event.target.value)">
                                <option>Arcade</option>
                                <option>Survival</option>
                        </select>
                        <div id="dataTables-example_filter" class="text-center">
                                <label>Búsqueda:<input  class="form-control input-sm" type="search" name="tag" placeholder="Etiqueta"  (keyup.enter)="doSpecificSearch()" [(ngModel)]="inputSearch"></label>
                        </div>
                        <div *ngIf="collectionFull" class="alert alert-info">
                                La colección ya posee 6 cartas, si deseas añadir otra carta más procede primero a eliminar una de las ya introducidas
                        </div>
                        <div *ngIf="collectionEmpty" class="alert alert-info">
                                La colección está vacía actualmente. Por favor añade cartas a la colección antes de intentar quitar una
                        </div>
                        <div *ngIf="cardNotInCollection" class="alert alert-info">
                                La carta que está intentando quitar no se encuentra almacenada en la colección
                        </div>
                        <div *ngIf="cardRepeated" class="alert alert-info">
                                La carta que está intentando añadir ya se encuentra en la colección. Está prohibido introducir dos cartas iguales en una misma colección
                        </div>
                        <div *ngIf="noCards" class="alert alert-info">
                                No hay cartas creadas actualmente
                        </div>
                        <div *ngIf="noCardsWithSpecificTag" class="alert alert-info">
                                No hay cartas creadas actualmente con la etiqueta especificada
                        </div>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                        <tr>
                                                <th>Nombre</th>
                                                <th>Etiquetas</th>
                                                <th class="text-center">Visualizar</th>
                                                <th class="text-center">Añadir a la colección</th>
                                                <th class="text-center">Quitar de la colección</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let card of cards ; let i = index">
                                                <td >{{ card.name }}</td>
                                                <td >{{ card.tags }}</td>
                                                <td class="text-center"><button class="btn btn-info btn-circle" (click)= "sawCard(i)" data-toggle="modal" data-target="#myModal"><i class="fa fa-search-plus"></i></button></td>
                                                <td class="text-center"><button class="btn btn-info btn-circle" (click)= "addCardtoCollection(i)" ><i class="fa fa-pencil"></i></button></td>
                                                <td class="text-center"><button type="button" class="btn btn-danger btn-circle" (click)= "deleteCardfromCollection(i)"><i class="fa fa-times"></i></button></td>
                                        </tr>
                                </tbody>
                        </table>
                        <div class="text-center">
                                <h2 class="text-info">Cartas en la colección</h2>
                        </div>
                        <div class="row" *ngIf="sawCollection"> 
                                <div class="column">
                                        <img [src] = "urlCard1" >
                                        <br>
                                </div>
                                <br>
                                <div class="column">
                                        <img [src] = "urlCard2" >
                                        <br>
                                </div>
                                <br>
                                <div class="column">
                                        <img [src] = "urlCard3" >
                                        <br>
                                </div>
                                <br>
                                <div class="column">
                                        <img [src] = "urlCard4" >
                                        <br>
                                </div>
                                <br>
                                <div class="column">
                                        <img [src] = "urlCard5" >
                                        <br>
                                </div>
                                <br>
                                <div class="column">
                                        <img [src] = "urlCard6" >
                                        <br>
                                </div>
                                <br>
                        </div>
                </div>   
                <div *ngIf="errorNoInfo" class="alert alert-danger">
                        Campo nombre incompleto, por favor introduzca la información correspondiente
                </div>
                <div *ngIf="errorCollectionNotFull" class="alert alert-danger">
                        La colección a crear no posee 6 cartas, por favor seleccionalas antes de intentar crear una colección
                </div>
                <div class="form-group">
                        <button class="btn btn-primary" type="submit" (click)="uploadCollection()" value="Upload File"> Crear </button>
                </div>
                <div *ngIf="collectionUploaded" class="alert alert-success">
                        La colección ha sido creada correctamente
                </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h3 class="text-center" id="myModalLabel">Visualizador de Carta</h3>
                                </div>
                                <div class="modal-body">
                                        <br>
                                        <img [src] = "url" >
                                        <br>
                                        <p class="text-info">Nombre</p> <input class="form-control" id="disabledInput" type="text" placeholder="{{ nameDisplay }}" disabled>
                                        <br>
                                        <p class="text-info">Historia</p> <textarea class="form-control" id="disabledInput" type="text" rows="9" placeholder="{{ historyDisplay }}" disabled></textarea>
                                        <br>
                                        <p class="text-info">Etiquetas</p> <input class="form-control" id="disabledInput" type="text" placeholder="{{ tagsDisplay }}" disabled>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                        </div>
                </div>
        </div>
</div>
