<app-nav-bar></app-nav-bar>
<div id="page-wrapper">
    <div class="contact-clean">
        <form method="post">
            <h2 class="text-center">Create new collection</h2>
            
            <div class="panel-body">
                <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="inputName"></div>
                <!-- <input type="file" (change)="onFileSelected($event)"> <p class="text-info">This is the image for the collection</p> -->
                <div *ngIf="collectionFull" class="alert alert-info">
                        Your collection already has 6 cards, if you wanna add other card please quit one firstly.
                </div>
                <div *ngIf="collectionEmpty" class="alert alert-info">
                        Your collection is empty right now. Please add cards to the collection before trying to quit one.
                </div>
                <div *ngIf="cardNotInCollection" class="alert alert-info">
                        The card you're trying to quit is not in the actual collection. Please add it before trying to quit it.
                </div>
                <div *ngIf="cardRepeated" class="alert alert-info">
                    The card you're trying to add is already in the actual collection.
                </div>
                <div *ngIf="noCards" class="alert alert-info">
                        There're no cards created
                </div>
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Watch Card</th>
                            <th class="text-center">Add to collection</th>
                            <th class="text-center">Delete from collection</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let card of cards ; let i = index">
                            <td >{{ card.name }}</td>
                            <td class="text-center"><button class="btn btn-info btn-circle" (click)= "sawCard(i)" data-toggle="modal" data-target="#myModal"><i class="fa fa-search-plus"></i></button></td>
                            <td class="text-center"><button class="btn btn-info btn-circle" (click)= "addCardtoCollection(i)" ><i class="fa fa-pencil"></i></button></td>
                            <td class="text-center"><button type="button" class="btn btn-danger btn-circle" (click)= "deleteCardfromCollection(i)"><i class="fa fa-times"></i></button></td>
                        </tr>
                    </tbody>
                </table>


                <!-- The grid: four columns -->
                <div class="text-center"><h2 class="text-info">Actual cards in the collection</h2> </div>
            <div class="row" *ngIf="sawCollection"> 
                    <div class="column">
                            <img [src] = "urlCard1" ><br>
                    </div><br>
                    <div class="column">
                            <img [src] = "urlCard2" ><br>
                    </div><br>
                    <div class="column">
                            <img [src] = "urlCard3" ><br>
                    </div><br>
                    <div class="column">
                            <img [src] = "urlCard4" ><br>
                    </div><br>
                    <div class="column">
                            <img [src] = "urlCard5" ><br>
                    </div><br>
                    <div class="column">
                            <img [src] = "urlCard6" ><br>
                    </div><br>
            </div>

            </div> <!-- fin cotnenido tabla -->

            


            <!-- 
            <div *ngIf="errorNoImageSelected" class="alert alert-danger">
                Select an image first before trying to create a new card!
            </div>
            -->
            
                 
            <div *ngIf="errorNoInfo" class="alert alert-danger">
                Incomplete name field, please enter the corresponding information.
            </div>
            <div *ngIf="errorCollectionNotFull" class="alert alert-danger">
                    Your collection dont have 6 cards, please select them before trying to create a collection.
            </div>
            <div class="form-group"><button class="btn btn-primary" type="submit" (click)="updateCollection()" value="Upload File"> Update </button></div>
            <div *ngIf="collectionUpdated" class="alert alert-success">
                The collection has been updated!
            </div>
        </form>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="text-center" id="myModalLabel">Card Display</h3>
                </div>
                <div class="modal-body">
                        <br><img [src] = "url" ><br>
                        <p class="text-info">Name</p> <input class="form-control" id="disabledInput" type="text" placeholder="{{ nameDisplay }}" disabled><br>
                        <p class="text-info">History</p> <input class="form-control" id="disabledInput" type="text" placeholder="{{ historyDisplay }}" disabled><br>
                        <p class="text-info">Tags</p> <input class="form-control" id="disabledInput" type="text" placeholder="{{ tagsDisplay }}" disabled>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>
